main .tabs {
    border-bottom: 1px solid var(--highlight-background-color);
}

main .tabs ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
}

main .tabs li {
    box-sizing: border-box;
    cursor: pointer;
}

main .tabs li button {
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    font-size: 20px;
    padding: 16px 16px 8px;
    display: block;
    margin: 0px;
    color: var(--text-color);
    background: transparent;
    border: 0;
    border-bottom: 4px solid white;
}

main .tabs li button::after {
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    font-weight: 700;
    display: flex;
}

main .tabs li button:hover {
    font-weight: 700;
}

main .tabs li button.active {
    font-weight: 700;
    border-bottom: 4px solid var(--red-color);
}

.mobile-only {
    display: none;
}

@media (max-width: 900px) {
    .mobile-only {
        display: initial;
    }

    .tabs-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tabs-wrapper ul.hidden {
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

    .tab-dropdown-button:hover {
        background: none;
    }

    .tab-dropdown-button:focus {
        background: none;
    }

    .tab-dropdown-button {
        margin: 0;
        width: 100%;
        background: none;
        color: black;
        border-bottom: 4px solid red;
        height: 50px;
        font-size: 18px;
        text-align: left;
    }

    main .tabs ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 1;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    }

    main .tabs li button {
        width: 100%;
    }

    main .tabs li button {
        font-weight: initial;
    }

    main .tabs li button.active {
        background: rgb(242, 242, 242);
        border-bottom: none;
        font-weight: initial;
    }

    main .tabs li button:hover {
        background: rgb(242, 242, 242);
        border-bottom: none;
        font-weight: initial;
    }
}
